.tabsContainer {
  display: flex;
  justify-content: center;
}

.tabsList {
  display: flex;
}

.tab {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  color: #005f73;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.tab:hover {
  background-color: #e0fbfc;
  color: #003d4d;
}

.tabActive {
  background-color: #005f73;
  color: white;
}
